# Prerequisites

# Compiled Object files

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries

# Executables
stoc1-fft-IA05-distrib.exe (compiled with ifort on Windows10 for Win32 environement).
